<launch>

  <arg name="bagname"/>
  <arg name="scenario" default="warehouse"/>
  <arg name="playback_speed" default="10" />
  <arg name="start_time" default="0" />

  <!-- rosbags play -->
  <param name="use_sim_time" value="true" />
  <node name="rosbag_play_data" pkg="rosbag" type="play"
        args="--clock -r $(arg playback_speed) --start $(arg start_time) $(find hrisim_postprocess)/bags/experiments/$(arg bagname).bag"/>

  <!-- Extracting data -->
  <node pkg="hrisim_postprocess" type="HH_data_extractor.py" name="hrisim_postprocess" output="screen" >
      <param name="bagname" value="$(arg bagname)" />
      <param name="node_path" value="$(find hrisim_postprocess)" />
      <param name="scenario" value="$(arg scenario)" />
  </node>

</launch> 
