<?xml version="1.0"?>
<model>
  <name>orange_juice_hohesc</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>User</name>
    <email>user@example.com</email>
  </author>

  <description>
    Orange Juice (Hohes C) package converted from COB library.
  </description>
</model>