<?xml version="1.0"?>
<model>
  <name>tray_blue_white</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>User</name>
    <email>user@example.com</email>
  </author>

  <description>
    Blue and white cafeteria tray converted from COB library.
  </description>
</model>